main{
    width: 100%;
    height: 30vh;
    opacity: 1;
    overflow-y: hidden;
    position: relative;
}

main img{
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}



.text{
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 65%;;
}

.text h2{
    color: #F9F9F9;
    /* font-family: Montserrat; */
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    margin-bottom: 0.75rem;

    padding: 0 1.25rem;
}

.text p{
    color: #F9F9F9;
    /* font-family: Montserrat; */
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    
    text-align: justify;

    padding: 0 2rem;  
}

@media (min-width: 700px) {

    main{
        height: 50vh;

    }

    .text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 50%;
    }

    .text p{
        padding: 0 1.25rem;
    }
}